@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
body {
  font-family: Roboto;
}

header {
  width: 100%;
  background-color: #2196f3;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header_content {
  height: 64px;
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 40px;
  background-image: url(assets/icons/match_logo.png);
  background-size: cover;
}

button {
  cursor: pointer;
}

.btn_register {
  width: 207px;
  height: 36px;
  background-color: #f2f9fe;
  color: #2196f3;
  font-style: Medium;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
}

.navbar {
  display: flex;
  width: 288px;
  height: 100%;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 669px;
}

.navbar li,
.picture_settings {
  width: 96px;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.navbar a {
  color: #ffffff;
  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}

.nav_icon {
  margin-top: 11px;
  margin-left: 38px;
  margin-bottom: 9px;
}

.navbar_about,
.navbar_best,
.navbar_settings {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/icons/question.png);
  border-radius: 50%;
}

.navbar_best {
  background-image: url(assets/icons/star.svg);
}

.navbar_settings {
  background-image: url(assets/icons/settings.png);
}

.navbar_active {
  background-color: #1e88e5;
}

.navbar_text {
  width: 96px;
  height: 15px;
  color: #ffffff;
  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
}

/*****HOW TO PLAY***********************************/

.how_to_play {
  width: 964px;
  height: 689px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  margin-top: 33px;
  /* padding-top: 28px;
  padding-left: 36px; */
  padding: 28px 36px 85px 36px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

.title {
  font-style: Medium;
  font-size: 20px;
  line-height: 30px;
  vertical-align: Center;
  letter-spacing: 0.15px;
  font-weight: bold;
}

.how_to_play_title {
  margin-bottom: 20px;
}

.how_to_play_register {
  width: 780px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.step_block {
  width: 360px;
  height: 148px;
  background-color: #ffffff;
  padding: 16px;
  display: flex;
}

.step_block_title {
  margin-left: 16px;
  /* height: 20px; */
  width: 272px;
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.number_box {
  width: 40px;
  height: 40px;
  background-color: #2196f3;
  border-radius: 50%;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
}

.number_box_digit {
  margin: auto;
  color: #f2f9fe;
  font-size: 22px;
}

.picture_block {
  width: 302px;
  height: 100%;
}

.form_picture {
  background-image: url(assets/images/form.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
  margin-top: -69px;
}
/******REGISTRY FORM***************/

.register_form {
  width: 639px;
  height: 460px;
  margin: 150px auto;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px black;
}

.reg_form_title {
  margin: 0;
  width: 100%;
  height: 27px;
  background-color: #f2f9fe;
  padding: 20px;
}

.picture_settings {
  height: 64px;
  float: right;
  background-color: #2196f3;
}

.form-conteiner {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  padding: 33px 20px 26px 21px;
  display: flex;
  flex-direction: column;
}

.form-content {
  display: flex;
}

.form-input {
  width: 328px;
  display: flex;
  flex-direction: column;
}

.reg_input {
  width: 328px;
  height: 56px;
  margin-bottom: 16px;
  background-color: rgba(33, 33, 33, 0.08);
  border-radius: 4px;
  font-size: 16px;
  border-bottom: 3px solid black;
}

.avatar-container {
  width: 198px;
  height: 198px;
  background-image: url(assets/icons/avatar.svg);
  margin-left: 38px;
}

.form-btn-panel {
  display: flex;
  height: 36px;
  width: 100%;
  margin-top: 50px;
  padding-left: 380px;
}

.btn_add_user {
  background-color: #2196f3;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  margin-right: 17px;
}

.btn_cansel {
  color: #2196f3;
  background-color: #e3f2fd;
  font-weight: bold;
  border-radius: 6px;
}

input:not(:placeholder-shown):invalid {
  border: solid red;
  box-shadow: 0 0 3px 2px red;
}

input:focus:invalid {
  outline: none;
}

input:valid {
  border: solid green;
  box-shadow: 0 0 3px 2px green;
}

/****GAME SETTINGS***********************/

.settings {
  width: 1000px;
  height: 252px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.24);
  margin: 50px auto;
  padding: 46px;
}

.settings-form {
  display: flex;
  flex-direction: column;
}

.settings_label {
  font-style: Medium;
  font-size: 20px;
  line-height: 30px;
}

.settings-form select {
  width: 256px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 40px;
}

/***BEST SCORE****************/

.score {
  width: 900px;
  height: 710px;
  padding: 10px 55px 20px 55px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 47px auto;
  display: flex;
  flex-direction: column;
}

/**GAME FIELD*********************/
.cards-field {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  min-height: 100hv;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
  flex-wrap: wrap;
  perspective: 25rem;
}

.card-container {
  margin: 1%;
  flex: 1 0 20%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  perspective: 25rem;
}

.card-container:hover .card {
  transform: translateZ(2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.card {
  position: relative;
  width: 10rem;
  height: 12rem;
  cursor: pointer;

  transform-style: preserve-3d;
  transform-origin: right;
  transition: all 0.5s;
  box-shadow: 0 0.1rem 0.25rem black;
  border-radius: 0.5rem;
}

.card__front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: crimson;
  backface-visibility: hidden;
  border-radius: 0.5rem;
}

.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  background-image: url(assets/images/card-back.png);
  backface-visibility: hidden;
  /* transform-style: preserve-3d; */
  transform: rotateY(180deg);
  border-radius: 0.5rem;
}

.flipped {
  transform: rotateY(180deg) translateX(-100%);
  transform-origin: left;
}
